.button
    font-size: 1.14rem
    line-height: 2.64rem
    font-weight: 500
    background-color: $primary
    color: $light
    border: none
    border-radius: 24.5px
    border: 2.0px solid #ff5a3c
    &:hover 
        color: #ff5a3c
        background-color: $light
.input
    &-group
        position: relative
label
  &.invalid
    bottom: 0
    position: absolute
    display: block
    color: tomato     
input
  &.invalid
    border: 1px solid tomato