@media screen and ( max-width: 1300px )
    html
        font-size: 12px

@media screen and ( max-width: 1200px )
    .nav
        display: none
    .button-wrapper>img
        display: block
    .menu
        &__button
            display: none
    
    .menu
        justify-content: start
    .logo
        flex-basis: 44%
    .menu__phone
        flex-basis: 50%
    .button-wrapper
        flex-basis: 6%
@media screen and ( max-width: 992px )
    html
        font-size: 12px
@media screen and ( max-width: 768px )
    html
        font-size: 12px
@media screen and ( max-width: 576px )
    .menu
        justify-content: space-between
        padding-top: 1rem
    .menu__phone
        display: none
    .logo__span
        font-size: 20px
    .logo
        flex-basis: 70%
    .button-wrapper
        flex-basis: 30% 