*, *:before, *:after
    box-sizing: border-box
    outline: none
html
    font-size: 14px
body
    font-family: 'Ubuntu', sans-serif
    font-size: 1rem
img
    max-width: 100%
.section-title
    &__title
        text-align: center
        font-size: 3rem 
        line-height: 2.64rem
        font-weight: 700
        color: #2c2c2d
    &__text
        max-width: 57.14rem
        margin: 0 auto
        text-align: center
        font-size: 1.143rem
        line-height: 1.57rem
        font-weight: 400
        color: #2c2c2d 
.form
    &__label
        display: block
        font-size: 1.2857rem
        line-height: 1.2857rem
        font-weight: 300
    &__input
        display: block
        width: 100%
        font-size: 1.2857rem
        line-height: 2.5rem
        font-weight: 300
        border: none
        border-bottom: 1px solid #939497