.benefits
    &__section-title
        margin-top: 6.3rem
        margin-bottom: 4.2857rem
        &-title
            margin-bottom: 2.5rem
    &__card
        margin-bottom: 2.2857rem
        height: 200px
        display: flex
        flex-direction: column
        align-items: center
        &-img
            display: block
            margin: 0 auto
            margin-bottom: 0.8rem
            height: 40px
            &>img
                display: block
                margin: auto
        &-title
            display: block
            text-align: center
            font-size: 1.43rem
            line-height: 2.64rem
            font-weight: 700
            color: #2c2c2d
            margin-bottom: 0.5rem
        &-text
            margin: 0 auto
            max-width: 22.6rem
            text-align: center
            font-size: 1.143rem
            line-height: 1.57rem
            font-weight: 300
            color: #454646