.hero
    height: 100vh
    min-width: 800px
    margin-top: 0rem
    background: url(../img/hero/bg-hero.jpg) no-repeat center 0%
    margin-bottom: 10rem
    &--video-active
      margin-bottom: 25rem
    &__lines
        position: absolute
        bottom: -22%
        right: 6.5%
    &__social-networks
      position: absolute
      left: 2.7%
      &>a
        display: block
        border-radius: 50%
        &:hover
          box-shadow: 0 0 10px rgba($primary,0.7)
      &-line
        display: block
        width: 4px
        height: 60vh
        margin-left: 8px
        margin-top: 10rem
        background-color: $primary
        border-radius: 2px
      &-link
        display: block
        margin-top: 35px
    &-content
      margin: 0
      padding-top: 29%
    &__title
      position: relative
      z-index: 10
      margin-bottom: 2.9rem
      font-size: 4.4rem
      line-height: 5.43rem 
      font-weight: 700
      letter-spacing: -0.2rem
      color: #323232
      &--primary
        color: $primary
    &__text
      max-width: 563px
      font-size: 1.424rem
      line-height: 2.07rem
      font-weight: 300
      color: #2e2e2d
      margin-bottom: 2.55rem
    &__button
      position: relative
      z-index: 10
      padding: 5px 38px